<div class="form-container">
    <form >
        <div class="form-container__item divider_line">
            <label for="postal-code">CEP:</label>
            <input type="text" id="postal-code">
        </div>
        <div class="form-container__item divider_line">
            <label for="lane">Rua:</label>
            <input type="text" id="lane">
        </div>
        <div class="form-container__item divider_line">
            <label for="number">Número:</label>
            <input type="text" id="number">
        </div>
        <div class="form-container__item divider_line">
            <label for="city">Cidade:</label>
            <input type="text" id="city">
        </div>
        <div class="form-container__item divider_line">
            <label for="state">Estado:</label>
            <input type="text" id="city">
        </div>
        <div class="form-container__item divider_line">
            <label for="country">Pais:</label>
            <input type="text" id="country">
        </div>
        <div class="form-container__item divider_line">
            <label for="landmark">Ponto de Referencia:</label>
            <input type="text" id="landmark">
        </div>
    </form>
</div>
