<div class="form-container">
    <form [formGroup]="addressForm" (ngSubmit)="addressFormOnSubmitEvent()">
        <div class="form-container__item divider_line">
            <span>
                <label for="cep">CEP:</label>
                <input type="text" id="cep" formControlName="cep">
            </span>
            <ul class="form_warnings">
                @if(addressForm.controls['cep'].hasError('required')
                && addressForm.controls['cep'].touched){
                    <li>CAMPO OBRIGATÓRIO</li>
                }
            </ul>
        </div>
        <div class="form-container__item divider_line">
            <span>
                <label for="lane">Rua:</label>
                <input type="text" id="lane" formControlName="lane">
            </span>
            <ul class="form_warnings">
                @if(addressForm.controls['lane'].hasError('required')
                && addressForm.controls['lane'].touched){
                    <li>CAMPO OBRIGATÓRIO</li>
                }
            </ul>
        </div>
        <div class="form-container__item divider_line">
            <span>
                <label for="number">Número:</label>
                <input type="text" id="number" formControlName="number">
            </span>
            <ul class="form_warnings">
                @if(addressForm.controls['number'].hasError('required')
                && addressForm.controls['number'].touched){
                    <li>CAMPO OBRIGATÓRIO</li>
                }
            </ul>
        </div>
        <div class="form-container__item divider_line">
            <span>
                <label for="city">Cidade:</label>
                <input type="text" id="city" formControlName="city">
            </span>
            <ul class="form_warnings">
                @if(addressForm.controls['city'].hasError('required')
                && addressForm.controls['city'].touched){
                    <li>CAMPO OBRIGATÓRIO</li>
                }
            </ul>
        </div>
        <div class="form-container__item divider_line">
            <span>
                <label for="state">Estado:</label>
                <input type="text" id="state" formControlName="state">
            </span>
            <ul class="form_warnings">
                @if(addressForm.controls['state'].hasError('required')
                && addressForm.controls['state'].touched){
                    <li>CAMPO OBRIGATÓRIO</li>
                }
            </ul>
        </div>
        <div class="form-container__item divider_line">
            <span>
                <label for="landmark">Ponto de Referencia:</label>
                <input type="text" id="landmark" formControlName="landmark">
            </span>
            <ul class="form_warnings">
                @if(addressForm.controls['landmark'].hasError('required')
                && addressForm.controls['landmark'].touched){
                    <li>CAMPO OBRIGATÓRIO</li>
                }
            </ul>
        </div>
        <button type="submit" class="form_button">Alterar</button>
    </form>
</div>
