<ng-container>
    <form [formGroup]="personForm" >
        <div class="form-container__item divider_line">
            <span>
                <label for="name">Nome Completo:</label>
                <input type="text" id="name" formControlName="personName">
            </span>
            <ul class="form_warnings">
                @if(personForm.controls['personName'].hasError('required')
                && personForm.controls['personName'].touched){
                    <li>CAMPO OBRIGATÓRIO</li>
                }
            </ul>  
        </div>
        <div class="form-container__item divider_line">
            <span>
                <label for="cpf">CPF:</label>
                <input id="cpf" formControlName="cpf" >
            </span>
            <ul class="form_warnings">
                @if(personForm.controls['cpf'].hasError('required')
                && personForm.controls['cpf'].touched){
                    <li>CAMPO OBRIGATÓRIO</li>
                }
            </ul>  
        </div>
        <div class="form-container__item divider_line">
            <span>
                <label for="phone">Telefone:</label>
                <input type="text" id="phone" formControlName="phone">
            </span>
            <ul class="form_warnings">
                @if(personForm.controls['phone'].hasError('required')
                && personForm.controls['phone'].touched){
                    <li>CAMPO OBRIGATÓRIO</li>
                }
            </ul> 
        </div> 
    </form>
</ng-container>
