<div class="form-container">
    <form >
        <div class="form-container__item divider_line">
            <label for="name">Nome:</label>
            <input type="text" id="name">
        </div>
        <div class="form-container__item divider_line">
            <label for="phone">Telefone:</label>
            <input type="text" id="phone">
        </div>
        <div class="form-container__item divider_line">
            <label for="cpf-number">CPF:</label>
            <input type="text" id="cpf-number">
        </div>
    </form>
</div>
