/* You can add global styles to this file, and also import other style files */

@import './app/styles/input-forms';
@import './app/styles/button-styles';


.center_content{
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
}

.divider_line {
    border-bottom: solid;
    border-width: 1px;
}

a{
    text-decoration: none;
}

.form_button {
        cursor: pointer;
        background-color: blue;
        color: white;
        font-size: 1.1em;
        font-style: bold;
        border:  rgb(0, 255, 55) solid 2px;
        box-shadow: none;
        margin: 5px;
        padding: 10px;
        border-radius: 5px;
        &:hover {
            background-color: rgb(98, 95, 253);
        }
        &:active{
            background-color: rgb(0, 255, 55);
        }

}

.items_inline {
    display: flex;
}
